@keyframes colors {
    0% {
        color:red;
    }
    
    50% {
        color:blue;
    }
}

.azure{
    background-color: lightblue;
    padding: 15px 8px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}